body {
    background: lightgreen;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: left;
    font-weight: 300;
    font-size: 50px;

}

.drink {
    width: 400px;
    height: auto;
}

.food {
    width: 500px;
    height: auto;
}